<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav>
        <h1>Products</h1>
        <div class="links">
            <a href="http://localhost:3000/laCuracao/products">Curacao</a>
            <a href="http://localhost:3000/falabella/products">Falabella</a>
        </div>
    </nav>

    <%- products.name  %> 
    <%- products.image  %> 
    <%- products.price  %> 
    <%- products.link  %> 
    <%- products.processor  %> 
    <%- products.ram  %> 
    <%- products.hdd  %> 
    <%- products.form_factor  %> 
    <%- products.os  %> 
    <%- products.display  %> 
</body>
</html>