<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <h1>Productos</h1>
        <div class="links">
            <a href="http://localhost:3000/laCuracao/products">Curacao</a>
            <a href="http://localhost:3000/falabella/products">Falabella</a>
        </div>
    </nav>
    <div class="wrapper">
    <% for (var key of Object.keys(products)) { %>
        <a class="cardLink" href="/<%-products[key].company%>/products/<%-key%>">
            <div class="card"> 
                <img src="<%= products[key].image %>" />
                <h3><%- products[key].name  %></h3>
                <p><%- products[key].currency %> <%- products[key].price  %></p>
            </div>
        </a>
        
    <% } %>
    </div> 

    
</body>
</html>